.image-to-top {
  float:right;
}

.Q {
  /* display: flex; */
  justify-content: center;
} 

.q {
  display:flex;
  justify-content: center;
  font-size: 2.5vh;
  margin-bottom: 5vh;
}

.response {
    font-size: 2.5vh;
    color:rgba(0, 119, 255, 0.589);
    font-weight: bold;
    display:flex;
    justify-content: center;
    margin-bottom: 10vh;

}

  li {
    list-style: none;
  }


.move-to-top {
    font-size: 2.3vh;
    color: red;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 5vh;
    
}
.move-to-top2 {
  font-size: 2.3vh;
  color: red;
  display: flex;
  justify-content:center;
  padding: 10vh;
}

.furima-icon-search {
  width: 10vw;
  margin-right: 2vw;
}

.item-search {
  margin-top: 1vh;
}

.title {
    margin-bottom: 5vh;
}

.links {
    margin-bottom: 8vh;
}

.subtitle {
    border: solid;
    border-radius: 8px;
    padding: 1vh;
}



.comment-box {
  resize: none;
  width: 100%;
  height: 40vh;
  padding: 10px;
  background-color: white;
  margin: 5vh 0;
  text-align: center;
}

.comment-box2 {
  resize: none;
  width: 100%;
  height: 57vh;
  padding: 10px;
  background-color: white;
  margin: 5vh 0;
  text-align: center;
}

.comment-box3 {
  resize: none;
  width: 100%;
  height: 57vh;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 5vh 0;
  text-align: center;
}

.comment-list {
  margin: 2vh 0;
}

.comment-content {
  display: flex;
  padding: 2vh 0;
  width: 90%;
  border: solid 1px #0000001a;
  margin-left: 7.5vh;
  background-color:  #65ace4;
  margin-bottom: 3px; 
  border-radius:  10px; 
}

.comment-content2 {
  display: flex;
  padding: 2vh 0;
  width: 90%;
  border: solid 1px #0000001a;
  margin-left: 7.5vh;
  background-color:  #ffffff91;
  margin-bottom: 3px; 
  border-radius:  10px; 
}



.comment-nickname {
  margin: 0 4vh;
  font-size: 2.3vh;
  color: rgb(255, 255, 255);
}

.comment-nickname2 {
margin: 0 4vh;
color: rgba(0, 0, 0, 0.881);
}

.comment-texts {
  font-size:1.8vh;
  margin-top: 3.5px;
  color:rgba(255, 255, 255, 0.938);
}

.comment-texts2 {
  font-size:1.8vh;
  margin-top: 3.5px;
  color:rgba(0, 0, 0, 0.938);
}

.delete-button {
  color: rgba(255, 255, 255, 0.658);
  font-size: 2.5vh;
  /* border: solid 1px #00000014; */
  margin-left: 2vh;
  /* background-color: rgba(255, 233, 233, 0.63); */
}

.delete-button2 {
  color: rgba(0, 0, 0, 0.658);
  font-size: 2.5vh;
  /* border: solid 1px #00000014; */
  margin-left: 2vh;
  /* background-color: rgba(255, 233, 233, 0.63); */
}

.comment-time {
  font-size: 1.5vh;
  margin-left: 15px;
  margin-top: 0px;
  color: rgb(0, 38, 255);
  background-color: rgba(255, 255, 255, 0.479);
  padding: 5px;
}


.more-comments {
  color:red;
  font-size: 2vh;

}

.heart-color {
  color: red;
  font-size: 2vh;
  margin-left: 16vh;
}

.heart-color1 {
  color: rgba(0, 0, 0, 0.333);
  font-size: 2vh;
  margin-left: 16vh;
}


.heart-color2 {
  color: red;
  font-size: 2vh;
  margin-left: vh;
}

.heart-color3 {
  color: rgba(0, 0, 0, 0.333);
  font-size: 2vh;
  margin-left: vh;
}

.heart-color2 span {
  color:black;
  margin-right:2vh;
}

.heart-color3 span {
  color:black;
  margin-right:2vh;
}

.item-img2 {
  width: 27vh;
  height: 27vh;
}